[2022-03-24 12:26] brancz opened #3 "Dynamic Column Schema Scans"
In order to be able to "list all available label-names" in Parca, we need to be able to iterate over all the dynamically created column names.

The way I imagine this will work is that a `DynamicColumnScan` returns `RowGroup`s where each dynamic column is a repeated string column in plain encoding which contains the "list" of concrete column names.

[2022-03-25 11:07] brancz opened #5 "Distinct push down to use dictionaries"
This is a pretty specific query optimization but one that happens to occur quite a bit, which is querying all available values of a column where the column is dictionary encoded. In the Parca case, that's listing the `__name__` label values. In these cases instead of returning the entire decoded column, we can just return the dictionary directly.

[2022-03-26 20:17] thorfour opened #6 "Replace active TX list with high water mark"
Instead of maintaining a list of active transactions since we only want to prevent read tearing, we should replace it with a high watermark instead. This will also obviate the need for a garbage collector on the active list

[2022-03-26 20:22] thorfour opened #7 "Leverage index on queries"
Right now when we query we iterate over the entire index.

This makes a query an O(N) operation, and renders the index pointless. We should instead leverage the sorted nature during queries to minimize the number of granules we have to look at.

Ideally we'd also do this on insert as well.

[2022-03-28 09:50] metalmatze commented on #6
Do you have a good resource on learning about the high watermark concept?

[2022-03-28 12:58] brancz commented on #7
I kind of have the feeling that we need to implement our own ordered list in order for us to perform the type of queries we want on it. Before we do that though, we should have a closer look at the google btree capabilities again.

[2022-03-29 12:27] #5 closed

[2022-03-31 12:58] brancz opened #14 "Add memory pooling"
I've tried to introduce memory pooling unsuccessfully for the last ~1day so I'm stopping here and just dumping what I've done so far. A copy of the apache arrow Go allocator with a bucketed slice pool:

<details>
  <summary>`pool.go`</summary>

[code]
</details>

<details>
  <summary>`pool_test.go`</summary>

[code]
</details>

[2022-04-04 12:08] #3 closed, assigned to nobody

[2022-04-05 16:57] brancz opened #26 "Panic in Aggregation"
[code]

[2022-04-06 07:44] brancz commented on #26
I believe this is closed by #27

[2022-04-06 07:44] #26 closed

[2022-04-07 15:40] #6 closed

[2022-04-07 15:46] brancz opened #35 "Persist data"
Currently, once the configured size of data is reached the active-append table-block is swapped out for a new one and the old one is thrown away. We of course want to persist data in some way. Since we already keep the data in parquet format in memory, it would be great to write that out and memory map it.

[2022-05-03 12:29] brancz opened #50 "Support complex Parquet types"
Currently, ArcticDB only supports simple columns, no repeated or struct columns, it would be nice if it would also support more complex types.

[2022-05-03 12:30] brancz opened #51 "Make queries cancel-able"
Currently, if a query is sent to ArcticDB it will complete it no matter what, even if the client doesn't care about the request anymore. We should allow passing a context and stop execution if it is canceled.

[2022-05-07 02:24] #7 closed

[2022-05-11 08:20] thorfour commented on #51
Queries are cancellable now with https://github.com/polarsignals/arcticdb/pull/53

[2022-05-11 08:20] #51 closed

[2022-05-11 08:21] thorfour opened #54 "Support aborting writes"
Arcticdb will need to support aborting write transactions.

Transactions either need to be rolled back or tombstoned such that reads don't contain aborted transactions.

[2022-05-11 14:52] ostafen commented on #35
@brancz, actually I see from code that, when a table block is rotated, the old one is simply discarded, and queries only act on the current active block for each table.
So, what's the purpose of memory mapping thrown blocks?

[2022-05-11 15:59] ostafen commented on #35
Okay, I'll stay tuned on this :)

[2022-05-12 07:38] thorfour commented on #35
I've pushed a very WIP branch `hackday-storage` where it just writes the rotated blocks to disk, and then on query reads all of them. It's terribly inefficient but it at least is a starting point that can inform an implementation.

[2022-05-12 07:54] ostafen commented on #35
Gave a look at the code.
I think the RotateBlock() function is a good place to put the code for persisting the block.
Also, instead of writing each block in a separate file, I would keep a write file opened, in order to append blocks in a log-like fashion (the file could be also rotated, when a given size is reached).
I would also store a reference to read only table blocks inside the Table struct

[2022-05-12 12:23] ostafen commented on #35
If you want, I could try to provide a PR addressing these points

[2022-05-13 07:07] ostafen commented on #35
There is a potential problem arising from the fact that the block is written to disk in the background by a separate goroutine.
A concurrent query may try to read a block (inside the `IterateRowGroup()` function) while it is being written to disk, thus reading a corrupted version of the block.
It could also happen that the disk write has not yet been initialized at that time, so the disk block wou

[2022-05-13 17:50] thorfour commented on #35
I was thinking we'd likely want to drop a metadata file alongside blocks that informs us about their contents and potentially validity. We could update it on successful block rights to avoid reading an incomplete block. If we use a ULID for the block name we could implement the sequence number you've described to determine last valid block.

[2022-05-13 22:48] ostafen commented on #35
The problem is that if a query is submitted while you are writing a block to disk, you have to wait for the incomplete block to be written on disk. If you simply skip it, you may end with an incomplete result set because the block may contain rows satisfying the query.
Assume that an user runs the same query twice, and that just before running the query for the second time the current active block

[2022-05-15 09:51] ostafen opened #59 "Problem when `splitGranule()` is aborted"
Hi, all, while experimenting with the persistence issue (#35), I found a problem with the `splitGranule()` function defined in the `table.go` file.
To reproduce the problem, you can set the granule size to 4096 instead of 8192 inside function `Test_Table_Concurrency()`. The test will fail with an ouput similar to the following:

[code]

The issue is caused by the fact that `splitGranule()' is call

[2022-05-15 15:51] thorfour commented on #35
Yea definitely agree. What if we read from the in-memory block that is actively being written to disk? So in our table we have something like
[code]
so on read we query from both active and any pending blocks (maybe we only ever keep a single pending block?) and once that pending block has been successfully written to disk, we can remove it from in memory pending list.

[2022-05-15 16:51] ostafen commented on #35
This is a valid alternative I also was thinking about. There is only a drawback with this approach. Under a very high write pressure, several block could be queued in the pending list, thus we could by far exceed the memory limit imposed by **activeMemorySize**. However, if this could be acceptable for your purposes, we could go with this solution :=)

[2022-05-15 17:29] thorfour commented on #59
Thank you so much for this detailed bug report! I've opened a fix for this

[2022-05-15 17:41] thorfour commented on #35
I think we would have to do something like this to avoid temporarily not finding data during queries when a block is being written.

[2022-05-15 18:51] ostafen commented on #35
Good, I'll go for this solution

[2022-05-15 20:36] albertlockett2 opened #61 "Filtering by the wrong literal type causes a panic"
Using a literal in an expression to filter that is different than the schema's column type causes an a panic when the query executes.

For example, using an int literal in to filter a string column
[code]

Causes panic
[code]

[2022-05-15 20:41] #61 closed

[2022-05-15 20:42] albertlockett opened #62 "Filtering by the wrong literal type causes a panic"
Using a literal in an expression to filter that is different than the schema's column type causes an a panic when the query executes.

For example, using an int literal to filter a string column
[code]

Causes panic
[code]

[2022-05-15 20:43] albertlockett commented on #62
I can take this on and add the validation logic. I assume we want to the valiation here?
https://github.com/polarsignals/arcticdb/blob/main/query/physicalplan/binaryscalarexpr.go#L45

[2022-05-15 23:20] #59 closed

[2022-05-15 23:25] thorfour commented on #62
That looks like a perfectly valid place to validate, I wonder if we can validate it any earlier in the logical layer? Otherwise sounds like a great approach.

[2022-05-16 01:16] albertlockett commented on #62
Agreed - it might be nice to do validation earlier.

Another option could be to do it in logicalplan Builder.Build():
https://github.com/polarsignals/arcticdb/blob/main/query/logicalplan/builder.go#L138

We could change that method to return a validation error.

Then we could send it up to the caller then they call Execute() from here:
https://github.com/polarsignals/arcticdb/blob/main/query/engin

[2022-05-16 08:16] thorfour commented on #62
Yea I think that makes perfect sense to fail during build

[2022-05-23 09:08] ohkinozomu opened #71 "Test_Table_Concurrency fails rarely"
##  OS
[code]
## Go version
[code]
## revision
latest(`ccf34f7bbb98fa1b6af19a0198b81f7b4cd1441e`)
## Output
[code]

[2022-05-23 14:13] brancz commented on #71
Nice find! Any clue where the culprit might be?

[2022-05-23 14:58] brancz commented on #54
One thing that I would also add is that a writer needs to be able to observe somehow whether their transaction was aborted or not, as a writer might want to retry a transaction if it was aborted.

[2022-05-25 08:44] brancz opened #73 "Add array operations"
While repeated types are now supported (#72) for writing and reading, they lack the ability to be filtered in more expressive ways than exact array matches (`==`) and not matches (`!=`). I don't think I have thought through the APIs enough yet for this, but one thought I've had is something like:

[code]

In this example, the table has a column called `values`, which is an array of integers, and t

[2022-05-25 08:48] ostafen commented on #73
What do you think about adding a specific method for this, such as `ContainsAny()` (a `ContainsAll()` method could be also added)?

[2022-05-25 14:14] #54 closed

[2022-05-26 15:27] ohkinozomu commented on #71
Since the merge of [this PR](https://github.com/polarsignals/arcticdb/pull/66 ), this doesn't seem to reproduce anymore. I ran the same command as above several times and the test didn't fail.
I will continue to look into this for my interest, but I think this isssue can be closed.

[2022-05-28 15:07] thorfour commented on #71
I am still able to recreate this
[code]

[2022-05-28 15:11] thorfour commented on #71
if I turn off compaction I don't run into this problem. Which suggests there's a bug in the compaction code somewhere

[2022-05-29 13:45] #62 closed

[2022-05-30 06:14] ohkinozomu opened #75 "Duplicate ParquetNodeToType()"
https://github.com/polarsignals/arcticdb/blob/450025ff363cb7241d9a038dcaf74b8f2779f2ac/pqarrow/arrow.go#L379
https://github.com/polarsignals/arcticdb/blob/0c97de2410a804308b52574cdb1d5073d436ae64/query/logicalplan/expr.go#L127

There are two `ParquetNodeToType` functions in `pqarrow` and `logicalplan` with the same name and the same functionality, so it would make sense to make one function to be

[2022-05-30 12:52] brancz commented on #75
Yes, that's exactly why we initially duplicated it.

Perfectly happy with that. The panic was actually a left over from prototyping when we wanted to fail hard in cases that we didn't fully implement through.

Maybe we can just extract it into another package to break the cyclic import? Maybe a `convert` sub-package under `pqarrow`?

[2022-05-30 12:56] brancz commented on #50
This would require two things:

1) Allow merging of schemas with complex types (with dynamic columns).
2) Extend conversion of complex (by complex I mean arbitrarily deeply nested struct and repeated types) parquet types to arrow types.

1 should be slightly easier now since `parquet-go` now implements conversions, which happens to perfectly suit the dynamic columns use-case: https://github.com/se

[2022-05-31 17:26] #75 closed

[2022-05-31 22:38] ohkinozomu commented on #71
I'll change the title of this issue as I found that Test_Table_GranuleSplit also fails.
revision: latest(`e5b8fcb4c0178640c8c6dfa8028126c5648b88f2`)

[code]

[2022-06-01 12:59] ostafen opened #81 "Possible problem inside function `splitGranule`"
Hi, all, I noticed that if I increase the number of concurrent writers inside function `Test_Table_Concurrency()`, I get the following error:
[code]

Thinking about it, this could be due to the following. After we reach the following statement
[code]
inside `splitGranule()`, we propagate new inserts also to child granules. Then, under an high concurrent pressure, compaction could be triggered also

[2022-06-01 13:29] brancz commented on #81
Very nice find! Could this be a fix/explanation for #71?

At first sight, this looks plausible to me, but @thorfour has spent much more time with this code than me, so I think it would be good for him to take a closer look as well.

[2022-06-01 13:32] ostafen commented on #81
This could be (at least potentially) related to #71, but in this case, when a granule is not found in the index, we get an error message logged in the console. It seems however that in #71, you simply get a test failure

[2022-06-01 22:12] thorfour commented on #81
Thank you for the issue and the quick fix!

[2022-06-01 22:12] #81 closed

[2022-06-05 17:38] MadhavJivrajani opened #86 "Race condition in Test_Table_Concurrency"
I tried running the test again with the race detector enabled (on PR #84) and I get races detected:
[code]
`HEAD` is at `a3e6195e7beef1e77eff933d569555eb474772f7`
[code]
The logs can be found here: https://gist.github.com/MadhavJivrajani/fa69278be76cdf18143dcde533f0e193

This is probably unrelated to the bug being fixed by the PR #84 tho.

[2022-06-07 08:01] brancz opened #88 "Parallelize query execution"
Currently, arcticDB's query execution is not parallelized, but we want to do that. There are well-known techniques such as [vulcano](https://paperhub.s3.amazonaws.com/dace52a42c07f7f8348b08dc2b186061.pdf) to generalize the parallelization of steps within a query. I think vulcano is a promising direction for arcticDB but I'd be happy for us to explore other possibilities as well.

[2022-06-07 17:53] metalmatze opened #89 "PhysicalProjectionPushDown needs to return dynamic columns"
The projections that are created from the filters aren't correct when filtering by dynamic columns.

As shown in the screenshot below, the column is a `label.` prefix column and in this case, a dynamic column should be returned. Not because of its name, but because of some attribute that needs to get propagated into the optimizer.
![Screenshot from 2022-06-07 19-50-57](https://user-images.githubus

[2022-06-07 17:59] albertlockett commented on #88
Hey @brancz I agree volcano seems like a good fit.

To add parallelization to articdb, I think we could add an implementation of the exchange operator described in the paper. We could have optimizers in the logicalplan to inject exchange operators in the appropriate places in the query tree.

I took a stab at implementing this. https://github.com/polarsignals/arcticdb/pull/90

The ExchangeOperator

[2022-06-08 03:29] #35 closed

[2022-06-08 04:10] yeya24 commented on #88
Compared to the Volcano's 1-tuple-a-time Iterator model, vectorwise batching iterator model used by MonetDB seems better for columnar storage https://www.cidrdb.org/cidr2005/papers/P19.pdf. This is used by TiDB and CRDB as well.

But since we are using Arrow underlying already maybe Volcano is good enough.

[2022-06-08 09:04] brancz commented on #88
I wasn't aware of this paper, thanks for sharing @yeya24! I've only cross-read the paper, but from what I can tell what @albertlockett proposed so far is actually in line with what's described in this paper, as it handles full `arrow.Record` frames, as opposed to 1-tuple-a-time like you, said.

About what Albert wrote:

I think what you proposed is very elegant and should work quite well. Only pra

[2022-06-08 10:21] albertlockett commented on #88
Thanks @brancz, I'll move forward with this. I'll get the code cleaned up, add tests & error handling and do some profiling to verify if this approach improves performance and what level of parallelism makes sense.

[2022-06-09 12:06] brancz opened #94 "Reduce CPU time spent in ingest path"
Currently, a major amount of CPU time is spent in the ingestion path of Parca/arcticdb, and garbage collection.

https://pprof.me/999a52c/

There are a couple of things we can and should try:

* Set `parquet.ColumnBufferCapacity` of a parquet writer to the maximum amount that we may write to the buffer during ingestion. I suspect we are wildly over-allocating when splitting data.
* Tune `parquet.P

[2022-06-09 22:07] albertlockett commented on #88
@brancz @metalmatze we've managed to get a good performance boost from this parallelism. I wrote a simple benchmark program (see below) and found out that this is about 50% faster with the new code path.

I found that the code in table iterator that was a bit of a bottleneck, so by fixing that we're able to take advantage of parallelism in the execution of the physical plan.
https://github.com/pol

[2022-06-10 06:04] joeblubaugh opened #95 "Clarify that column names are sorted when schema is created."
This set of column definitions:
[code]
will actually have column indexes:
`{labels: 0, state: 1, timestamp: 2}`

So, when inserting fields, you must get the column indexes by searching the schema's column slice, rather than based on your own definition.

Documentation on functions and/or examples where this happens would be useful to new contributors.

---
Aside: what is the reason that column nam

[2022-06-10 07:26] brancz commented on #95
We need to have them sorted so that when we merge two row groups with different dynamic columns we can perform a [k-way merge](https://en.m.wikipedia.org/wiki/K-way_merge_algorithm). We’ve been thinking about [improving the ergonomics](https://github.com/polarsignals/arcticdb/pull/67) of the insert API so that people don’t have to care about the index positions, but haven’t come up with anything s

[2022-06-14 00:28] albertlockett commented on #88
here is a document with some more of my notes
https://docs.google.com/document/d/1-9jX8XafLP3m5hLShSRh1hoMAEKrQTzqS0og2JCOlXg/edit#heading=h.vf1o5lbbldn6

[2022-06-15 05:07] joeblubaugh commented on #95
Sure thing. I'll send a PR when I get a bit of spare time.

[2022-06-15 05:34] brancz commented on #95
Done!

[2022-06-16 10:29] metalmatze commented on #88
That all sounds great and makes sense with the NumCPUs. I would have also been fine with just leaving it at that number and not subtracting `1`, but since you've already figured out we can keep `NumCPUs - 1`.

There's one comment on that PR about `errgroups` and another nitpick. Any reason this is still a draft? Let's discuss the details over there.

Overall it sounds like the way forward!

[2022-06-17 14:34] ohkinozomu opened #99 "Support float64/double"
https://github.com/polarsignals/frostdb/pull/98#issuecomment-1157879825

[2022-06-21 00:05] #86 closed

[2022-06-21 03:55] joeblubaugh commented on #95
@metalmatze thanks, that's a helpful example.

[2022-06-24 00:00] #99 closed

[2022-06-30 06:12] cyriltovena opened #110 "Prefilter granule without column value when possible with RE/NRE matcher"
When the a column value is missing from the granule and we're filtering using RE/NRE matchers there's a chance we can already skip the granule.

For example if we're using `{foo=~"bar"}` and the foo dynamic label doesn't exist. This means for regexp matcher we actually just need to run it against empty.

see https://github.com/polarsignals/frostdb/blob/main/table.go#L1162-L1166

I suspect the code

[2022-06-30 06:24] brancz commented on #110
Precompiling the filter sounds good to me. I don’t feel strongly about having an interface as at least so far it is only used internally in the table constructs, so I’d be happy with just a struct that encapsulates the different compiled representations and pass around that struct instead of the various representations (at least right now we already pass two of those representations around everywh

[2022-06-30 10:09] cyriltovena opened #112 "Sync doesn't guarantee to see the last write"
While trying to add back the write benchmark I realized Sync doesn't guarantee to see the last write even if it has already returned.

see https://github.com/polarsignals/frostdb/pull/111

I'm guessing this is a bug, but may be that's not a given guarantee.

[2022-06-30 10:15] cyriltovena commented on #112
This diff seems to fix the issue but I'm not sure this is correct.

[code]

[2022-06-30 10:17] cyriltovena commented on #112
Actually it doesn't fix completely the issue only for when I'm running with 10 worker, with 100 I still miss data.

[2022-06-30 11:24] brancz commented on #112
A write returning doesn't necessarily mean that it was successful, that it has been completed, nor that the transaction has been released by the isolation mechanism. Replacing the high water mark with the latest transaction ID breaks the atomicity and will cause ripped writes.

Actually even `.Sync()` doesn't guarantee anything else than that there are no compactions currently running, but that do

[2022-06-30 11:24] brancz commented on #112
cc @thorfour

[2022-07-01 03:01] thorfour commented on #112
https://github.com/polarsignals/frostdb/blob/42eb27a93c4bc694d9ec4848a30c0e5ecdd8efb5/table.go#L528
Sync is intended to ensure that compactions are complete if you control all the writers. It's basically only useful for unit tests.

We have all this:
https://github.com/polarsignals/frostdb/blob/main/db.go#L222
You can use wait to wait for the given tx ID to be marked complete with the returned tx

[2022-07-01 03:01] #112 closed

[2022-07-01 05:26] cyriltovena commented on #112
Sounds good I'll give it a go

[2022-07-01 08:41] brancz commented on #112
🙈 I could have sworn we already had that, but couldn't find it, thanks Thor!

[2022-07-01 15:32] thorfour opened #114 "Unable to filter on something that isn't projected"
Right now we wont filter on anything if the column we're filtering on isn't included in the projections.

So we're unable to perform queries equivalent to `select a,b from table where c > 10`
and instead require the query to be `select a,b,c from table where c > 10`

[2022-07-04 09:16] cyriltovena commented on #94
FrostDB uses a lot of OpenFile for reading row in memory. I think https://github.com/segmentio/parquet-go/pull/255 will helps.

I went for the pool per schema/dynamic columns as I think over allocating is fine as long as you can reuse.

So far this what I have.
[code]

I'm still playing around though.

[2022-07-04 10:01] brancz commented on #94
Nice! We should also be able to re-use writers and use a `sync.Pool` on a per schema basis for those as well. I think that will optimize away another fair bit.

[2022-07-04 10:04] cyriltovena commented on #94
That's what I actually do.

[2022-07-04 12:37] #89 closed

[2022-07-04 12:56] cyriltovena opened #119 "Recycle goroutine doing compaction"
While working on https://github.com/polarsignals/frostdb/pull/118 I realised that we create a go-routine per compaction for each granule.

I think this should be bounded but also we should probably recycle go-routine since those can grow pretty large in term of memory

<img width="2487" alt="image" src="https://user-images.githubusercontent.com/1053421/177159199-6c105754-d2a7-4bef-9d0c-f69438d8cad

[2022-07-05 12:24] brancz commented on #119
I think it's important that we keep the write path non-blocking/lock-free, so I wonder if we could find another way. Maybe we could just mark the granule to need compaction and have the compaction go routines just cycle through the granules to pick up the ones that need compaction? Happy for other suggestions but not spawning a go routine at every insert is obviously not a long term option (I thin

[2022-07-17 14:18] #114 closed

[2022-07-17 14:21] thorfour commented on #119
Yea, when I initially wrote that I played around with buffered channels as well as a mark and sweep style. This one performed the best, and until we better understood the characteristics of how it performed decided to defer solving this.

[2022-07-22 14:11] metalmatze opened #133 "Wrap database logger with database name"
It would be great to pass down the logger into the database and automatically add the database name as key-value pair:
https://github.com/polarsignals/frostdb/blob/b2cc5b02f387b5a9a8da72cb20e01deaf13c3d3e/db.go#L238

Something like the following would be great:
[code]

[2022-07-22 14:22] metalmatze opened #134 "Update TableReader interface to return (*Schema,error)?"
It might make sense to update the interface to return the error too?
https://github.com/polarsignals/frostdb/blob/b2cc5b02f387b5a9a8da72cb20e01deaf13c3d3e/query/logicalplan/logicalplan.go#L133

Or should this error really just be handled outside the interface? Basically opening that as a question to everyone else as I'm not 100% sure right now.

[2022-07-22 14:29] brancz commented on #133
ah whops we do this for the metrics registry but not for this haha

[2022-07-22 14:30] brancz commented on #134
This schema should be passed as configuration when instantiating the table, so it should just be a pointer in the table that's just always there, I don't think there is any way currently for this to error.

[2022-07-25 13:51] thorfour commented on #134
I currently have a way for this to error :P so this panic is currently earmarked in what I'm working on.

[2022-07-25 14:59] thorfour opened #137 "Support read-only frostDB instances"
To allow us to test out the performance of our query paths that utilize block storage without impacting the current read/write path; we should support read only instances of frostDB. Where these can be pointed at LTS and support queries directly.

[2022-07-29 12:14] brancz commented on #110
For completeness sake (since the `main` link above is outdated), these are the lines that were originally linked to: https://github.com/polarsignals/frostdb/blob/bde4295ee60a6f3e1202c287716c752a5ba18295/table.go#L1267-L1271

[2022-08-01 13:00] brancz opened #146 "Add `Or` expression"
While we already have the `And` expression, we cannot express `Or` expressions today.

[2022-08-03 17:10] MadhavJivrajani commented on #146
Can I give this a try if that's okay?

[2022-08-03 17:52] brancz commented on #146
Go for it!

[2022-08-08 17:30] metalmatze commented on #133
If anyone seeing this wants to have a FrostDB contribution, this should be fairly easy to do! :relaxed:

[2022-08-08 17:31] metalmatze commented on #134
Did we happen to update this in one of the PRs? Just making sure we close it if we don't need it anymore.

[2022-08-08 19:18] brancz commented on #134
I don’t think we’ve done this. I *think* what Thor referenced we managed to get to work without this.

[2022-08-08 20:34] #137 closed

[2022-08-08 20:35] thorfour opened #151 "Query path benchmarks"
Right now we have a small set of benchmarks that really only benchmark concurrent writers.
It would be good to get some benchmarks around the query path, as well as large database benchmarks etc.

[2022-08-09 06:17] brancz commented on #151
There are some query benchmarks in the parca project, those are what I’ve been using for query benchmarking.

[2022-08-10 15:04] #133 closed

[2022-08-10 20:51] thorfour opened #156 "Write table blocks directly to bucket"
Right now in frostdb when we persist a table block into memory, we first read the entirety of the table block into a set of merged row groups, and then into a buffer. This causes our memory to explode every time we persist a block. This is seen the screenshot from Parca below.

![image](https://user-images.githubusercontent.com/8681572/184017079-e3f2e541-1249-41a2-9690-d13cc60d0694.png)
![](https:

[2022-08-10 20:57] thorfour commented on #134
Yea I ended up not needing to make this change, so I'm just going to close this issue for now

[2022-08-10 20:57] #134 closed

[2022-08-11 07:40] brancz commented on #156
It's kind of a shame that `objstore` requires an `io.Reader` when all it does is copy that `io.Reader` to an `io.Writer`. Parquet files can be written in a single contiguous write, so if we could instead get the writer from objstore we could refactor [`Serialize`](https://github.com/polarsignals/frostdb/blob/2f68e10c0065d36b9dc2b73dc32a824834b3c6c2/table.go#L1118) to take an `io.Writer` instead of

[2022-08-11 07:43] brancz commented on #156
Ok, after looking ever so slightly into different providers, it seems that really only the GCS provider works the way I expected. I suspect the best way forward is to write the parquet file to disk and upload it from there. Feels really unnecessary, but I think it's the best we can do given all the circumstances.

[2022-08-11 07:46] brancz commented on #156
If we want to go the extra mile and avoid writing to disk at all cost we could propose an addition to the objstore API to get an `UploadWriter` which returns an `io.WriteCloser` and if a provider doesn't implement it we fall back to the filesystem based approach from above, but if they do support it we write directly to object storage.

[2022-08-11 15:31] brancz opened #157 "Replace unsafe atomic pointers with Go 1.19 generic pointer"
We have a bunch of uses of unsafe atomic pointers. Go 1.19 shipped with a generic (type-safe) atomic pointer that we should now use.

https://pkg.go.dev/sync/atomic@go1.19#Pointer

[2022-08-11 15:32] brancz opened #158 "Attempt to use ColumnIndex to answer distinct queries"
While we already attempt to optimize distinct queries by checking if they are dictionary encoded and only contain a single value, that still causes us to read the page, using the ColumnIndex however, we could avoid reading the page altogether.

[2022-08-11 15:35] brancz opened #159 "Remove PrefixedBucket"
The upstream `objstore` dependency we use now implements an identical prefixing mechanism (unsurprisingly since we contributed it), so we should get rid of the one in this repository:

https://github.com/polarsignals/frostdb/blob/42eb27a93c4bc694d9ec4848a30c0e5ecdd8efb5/bucket.go

[2022-08-11 17:54] Mihai22125 commented on #157
Hello, @brancz! Can I work on this?

[2022-08-11 18:37] brancz commented on #157
Go ahead!

[2022-08-11 19:24] thorfour commented on #156
So we can actually refactor the Serialize function today to take an `io.Writer` using the `io.Pipe`
[code]

However, trying this out, I am still seeing the same pattern, and it turns outs it's comfing from the `ReadRows` function.
https://pprof.me/7d4c455

[2022-08-12 09:05] manojVivek commented on #159
Should we change the `NewPrefixedBucket` func to wrap `objstore` internally or remove `bucket.go` altogether and let the caller pass a bucket created from `objstore.NewPrefixedBucket`?

[2022-08-12 11:33] brancz commented on #159
I would say to replace our implementation entirely with the one from `objstore`. If you want to pick this up do chat with @asubiotto as he was thinking of tackling this as well.

[2022-08-12 21:29] thorfour commented on #156
![image](https://user-images.githubusercontent.com/8681572/184447418-f3d06497-08b0-4f9a-8da9-951152c1d3c2.png)

Have a fix that's headed in the right direction

[2022-08-15 07:27] #146 closed

[2022-08-16 07:52] asubiotto commented on #158
Planning on taking a look at this today

[2022-08-16 13:27] asubiotto commented on #158
I've taken a look at the code where the mentioned optimization is and the functions called. Just so we're on the same page, these look to be `distinctColumnsToArrowRecord` all the way down to `writeColumnToArray`. I wanted to clarify the optimization we want to do.

`ColumnIndex` gives us min/max values in that column chunk. Is the optimization you're suggesting basically checking that for a given

[2022-08-22 08:15] asubiotto commented on #151
Planning on taking this on. I think adding some benchmarks to FrostDB that represent the cloud OKRs would be pretty useful to get some less noisy benchmarks.

[2022-08-25 07:36] #151 closed

[2022-08-28 19:48] yeya24 opened #177 "Support more aggregation functions"
Right now frostdb only has limited support for aggregation functions. For observability and analytical purpose, more aggregation functions should be supported to cover more use cases. For me, I have the requirement to support aggregations like `count`, `average` and `quantile`.

I opened this as an umbrella issue to track the support to other aggregation functions. For aggregation functions to sup

[2022-08-29 11:41] #158 closed

[2022-08-29 18:03] #159 closed

[2022-08-31 11:38] asubiotto opened #180 "Goroutine leak in TxPool.cleaner"
I recently came across a weird failure mode where the race detector exceeded a threshold of allowed goroutines. I tracked this down to goroutines created in `TxPool.cleaner`:
[code]

To reproduce, simply run `go test -run Test_Table_Concurrency` with a leak detector:

[code]

I couldn't find an obvious `Close` method that was missing, so decided to record this in an issue. cc @thorfour

[2022-08-31 11:39] asubiotto commented on #180
To be clear, this is a leak on current `main`. I'm also running into another leak in `asyncPage.init` and still need to investigate if we're not managing the page lifecycle properly. However, we should probably fix this leak first.

[2022-09-07 13:35] thorfour opened #188 "panic"
[code]

Hit this after running for a couple hours

[2022-09-13 18:13] thorfour opened #193 "Thrift decoding performaning 1 byte ReadAt calls"
I noticed that the thrift decode step during a `OpenFile`  [call](https://github.com/segmentio/parquet-go/blob/main/file.go#L122) causes multiple consecutive calls to the readers `ReadAt` of a single byte.
![image](https://user-images.githubusercontent.com/8681572/189978694-7bf43c73-d7db-4c92-9c9f-7097d113d370.png)

When the reader is backed by remote storage this causes a significant slowdown whe

[2022-09-13 18:37] #193 closed

[2022-09-19 02:23] zdyj3170101136 opened #200 "what is aggregate meaning?"
here is parca code:
it is very confusing
![截屏2022-09-19 上午10 21 33](https://user-images.githubusercontent.com/52686065/190940282-193aaea0-1958-4929-a384-acd5ecb9e4e7.png)

is the aggregate meaning sql like:
[code]

[2022-09-19 06:58] asubiotto commented on #200
Hello,

Currently in FrostDB we only support aggregate functions with a single aggregation expression and multiple group expressions:
https://github.com/polarsignals/frostdb/blob/687469d4f7ea26aeb632077b374476a792980c4f/query/engine.go#L15

So the above snippet you posted is equivalent to:
[code]

[2022-09-19 06:58] #200 closed

[2022-09-22 11:30] thorfour commented on #188
this code has been removed

[2022-09-22 11:30] #188 closed

[2022-09-22 11:32] thorfour commented on #157
Completed in https://github.com/polarsignals/frostdb/pull/203

[2022-09-22 11:32] #157 closed

[2022-09-23 18:44] metalmatze opened #207 "Add final stage to the logic of physical plan planning"
Instead of adding the final stage boolean to the physical plan execution, I think this logic should be part of the physical plan planning. i.e. when planning a multi-stage count, instead of planning a `count(final=true)` operator, you would just plan a `sum()` operator at the final stage.

_Originally posted by @asubiotto in https://github.com/polarsignals/frostdb/pull/202#discussion_r976278288_

[2022-09-23 18:47] metalmatze opened #208 "Move aggregation alias out into projections"
_Originally posted by @asubiotto in https://github.com/polarsignals/frostdb/pull/202#discussion_r976278924_

[2022-09-23 18:51] metalmatze opened #209 "Make concurrency configurable at runtime"
_Originally posted by @asubiotto in https://github.com/polarsignals/frostdb/pull/202#discussion_r976283462_

[2022-09-23 18:54] metalmatze opened #210 "Use buffered channels in synchronizer"
_Originally posted by @asubiotto in https://github.com/polarsignals/frostdb/pull/202#discussion_r976288777_

[2022-09-30 11:05] asubiotto opened #217 "Mock out TableProvider and implement a logicalplan.TableReader that returns records directly"
It'd be nice to be able to push arrow records directly into a query plan. Recently, I came across this need during testing, think it would be nice for benchmarking operators with a speed of light scan layer, and also believe it could be useful in other scenarios.

To do this, I think we're going to want to put an interface on top of `frostdb.DBTableProvider`, where there would be an implementation

[2022-09-30 11:17] brancz commented on #217
Makes sense!

[2022-10-06 02:31] thorfour commented on #88
https://github.com/polarsignals/frostdb/pull/202

[2022-10-06 02:31] #88 closed

[2022-10-06 13:30] #180 closed

[2022-10-07 10:31] asubiotto opened #223 "Reduce compaction memory usage by marking Parts as compacted"
There are two goals during `Granule` compaction:
1) Reduce the `Granule` size (i.e. the sum of the serialized size of all the parquet files contained in this granule).
2) Since users can insert in whatever size batches they want, we would like to "reshape" the row groups to the desired size. i.e. if we do n 1 row inserts, merge all of those into a single n-row rowgroup to take advantage of parquet

[2022-10-07 13:59] asubiotto opened #226 "Move operator tests to logic tests"
A datadriven logic testing framework was recently added in https://github.com/polarsignals/frostdb/pull/211. Slowly but surely, it would be nice to move our operator tests to this logic testing framework to promote readability and conciseness. #255 does this for the distinct operator. This issue can be closed once the following tests have been moved over:
- [ ] aggregate_test.go
- [x] filter_test.

[2022-10-07 20:16] bitethecode commented on #226
@asubiotto Can you assign this to me?

[2022-10-08 10:15] asubiotto commented on #226
Sure!

[2022-10-10 00:36] bitethecode commented on #226
@asubiotto Thanks!!!

[2022-10-10 07:48] asubiotto commented on #223
Taking this on

[2022-10-12 15:59] metalmatze opened #230 "Remove ArrowSchema call"
There were some historic reasons to introduce the separate ArrowSchema function call for the `TableScan/Execute`.
Going forward we don't need this to be a separate function anymore.
`table.Iterator` should implicitly read the schema too.

Basically, we need to remove this function call:
https://github.com/polarsignals/frostdb/blob/2f2f61f5bb7e368b028f1dcb0edc0e18b87e2dab/query/physicalplan/physica

[2022-10-17 07:15] #119 closed

[2022-10-20 10:13] asubiotto opened #237 "frostdb: Test_Table_ReadIsolation flaky failure"
This test seems to be flaky as it failed CI during an unrelated change to benchmark code.
[code]

[2022-10-20 20:01] MadhavJivrajani commented on #217
Would it be okay if I gave this a shot?

[2022-10-20 20:28] asubiotto commented on #217
@MadhavJivrajani of course!

[2022-10-25 07:45] asubiotto commented on #223
Implemented in #234

[2022-10-25 07:45] #223 closed

[2022-10-25 07:45] asubiotto opened #239 "Compaction memory usage spike"
We see some unexpected memory spikes during compaction (this is a local demo instance scraping itself):
![](https://cdn.discordapp.com/attachments/963045173535834182/1034366857869799454/unknown.png)
In the graph above, there is a ~1GB memory spike that is attributed to compaction. Matching this with the compaction that occurred during this time in the logs (debug level), we get:
[code]
So this ~1G

[2022-11-04 17:22] palash25 commented on #226
hi @bitethecode are you still working on this? if not then i would like to pick this up if that's ok with you

[2022-11-05 13:25] InTheLapOfTheGods commented on #230
can you explain this a bit further, what is the actual intended change here? if the ArrowSchema call is removed from here does that mean that the method definition also needs to be removed from the table reader interface and the implementation of Iterator method in `table.go` should simply call ArrowSchema function implemented in that file (this should be turned into a private method i believe) in

[2022-11-08 18:40] brancz opened #246 "Increase tx pool cleaner interval"
https://pprof.me/9de95a5/ shows that roughly 10% of all CPU time of Parca (which embeds FrostDB) is spent in this select, probably because 10ms is too low of an interval for sweeping, 50ms is probably plenty.

https://github.com/polarsignals/frostdb/blob/e1b2c730e97ae3da0f90bdec1ac02645bff8ce56/tx_list.go#L73

[2022-11-21 10:35] asubiotto commented on #226
Hi @palash25, are you still interested in working on this? I can reassign to you given that we haven't heard back.

[2022-11-22 07:31] asubiotto commented on #226
No problem! Thanks for giving it a shot. @palash25 assigned to you. Feel free to use https://github.com/polarsignals/frostdb/pull/225 as a guide.

[2022-11-22 07:33] palash25 commented on #226
thanks for assigning i will look into it this weekend

[2022-11-23 16:04] thorfour opened #255 "Add support for Projections in logic tests"
We recently discovered that the logic tests don't support projections when I implemented projections during aggregations here: https://github.com/polarsignals/frostdb/pull/252

[2022-11-24 08:28] asubiotto commented on #255
To implement this, we probably need to add another switch case in the following function: https://github.com/polarsignals/frostdb/blob/e628ed588e1fc41b450e7d25e1cbea6855ea7f00/sqlparse/visitor.go#L48

To figure out what the ast node is, the best way is to step through using a debugger while running a logictest sub test with a projection.

[2022-11-29 08:37] palash25 commented on #255
could this be solved by iterating over `SelectFields` and applying a projection for each? something like this?

[code]

[2022-11-29 08:49] asubiotto commented on #255
I haven't looked at this closely enough to know, but this would make sense, although `Project` takes multiple expressions so we'd probably want to push them on the expression stack and then pop them all off when encountering a `FieldList` if that makes sense. I'm also wondering about the case when we don't want to call `builder.Project` (i.e. as we currently do).

[2022-11-30 12:56] palash25 opened #259 "logictests: exec query results with null values returned as whitespace"
Hmm, I guess it's probably an artifact of the aggregator that doesn't correctly set nulls in the output (and instead sets an empty string). This is probably something to open an issue about as well although it's not too high priority. We can probably merge this as is with at least a comment pointing to the issue.

_Originally posted by @asubiotto in https://github.com/polarsignals/frostdb/pull/257

[2022-11-30 12:58] palash25 commented on #259
in the logictest if a query returns rows with null values the show up as whitestapces. Take this for e.g.

[code]

the result should be more explicit and should look like this

[code]

[2022-11-30 15:08] thorfour commented on #255
This was added by https://github.com/polarsignals/frostdb/pull/258

[2022-11-30 15:08] #255 closed, assigned to nobody

[2022-11-30 16:56] asubiotto opened #261 "Write level0 -> level1 compaction tests/benchmarks with real testdata files"
It would be nice to isolate our compaction cycles with some real data in tests/benchmarks. This would also help us analyze the memory spikes we see further and test improvements like @thorfour introduced recently